In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("titanic_prepared_data.csv")
df.head()

,Survived,Sex,Age,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2,FamilySize
0,0,1,22.0,0,0,1,0,0,1,2
1,1,0,38.0,1,0,0,1,0,0,2
2,1,0,26.0,0,0,1,0,0,1,1
3,1,0,35.0,1,0,0,0,0,1,2
4,0,1,35.0,0,0,1,0,0,1,1

In [2]:
#Separate out the features and labels
X = df.iloc[:, 1:].values
y = df.iloc[:, 0:1].values
print X.shape, y.shape

(891L, 9L) (891L, 1L)

In [3]:
#Split the data into train and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print X_train.shape, y_train.shape

(623L, 9L) (623L, 1L)

In [4]:
#arr = X_train.shape
#print arr.shape
#p = y_test.values()
#p = [1,23.0,7.2500,1,0,0,0,0,1,4]

In [8]:
def distance(arr,p):

    squared_distance = 0

    for i in range(len(X_train)):
        for i in range(len(X_test)):
            squared_distance = squared_distance + ((X_train[i] – X_test[i])**2)

    dis = np.sqrt(squared_distance)

    return dis;

SyntaxError: invalid syntax (<ipython-input-8-3e3e774d93a8>, line 7)

In [ ]:
asc = np.sort(d)
print asc